@use './reset.scss';
@use './variable.scss';

* {
  font-family: var(--font-family);
}

main {
  padding: 120px 0 0 0;
  margin: 0 auto;

  @media (max-width: 600px) {
    padding: 80px 0 0 0;
  }

  @media (max-width: 400px) {
    padding: 40px 0 0 0;
  }
}

input[type='password']::-ms-reveal {
  display: none;
}

input[type='password']::-webkit-textfield-decoration-container {
  display: none;
}

.global-image-nothing {
  width: 600px;
  height: 400px;

  @media (max-width: 768px) {
    width: 300px;
    height: 200px;
  }
}
