@use './reset.scss';
@use './variable.scss';

@import "leaflet/dist/leaflet.css";

*{
    font-family: var(--font-family);
}

main{
    padding: 120px 0 0 0;
    margin: 0 auto;
}

input[type=password]::-ms-reveal {
  display: none;
}

input[type=password]::-webkit-textfield-decoration-container {
  display: none;
}

.global-image-nothing{
  width: 600px;
  height: 400px;

  @media (max-width: 768px) {
    width: 300px;
    height: 200px;
  }
}