.footer{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1200px) {
        padding: 24px 32px;        
    }

    @media (max-width: 475px) {
        padding: 16px 24px;
    }

    &__contacts{
        display: flex;
        align-items: center;
        column-gap: 24px;
    }
}