.mapSearch {
  display: flex;
  flex-direction: column;
  padding: 40px 64px 40px;
  max-width: 1440px;
  margin: 0 auto;
  row-gap: 24px;

  @media (max-width: 850px) {
    padding: 80px 48px 40px;
  }

  @media (max-width: 650px) {
    padding: 80px 32px 40px;
  }

  @media (max-width: 450px) {
    padding: 80px 16px 40px;
  }

  &__title {
    font-size: 48px;
    color: var(--black);
    font-weight: 700;
    letter-spacing: -2%;
    line-height: 120%;

    @media (max-width: 1250px) {
      font-size: 40px;
    }
    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  &__search {
    display: flex;
    position: relative;
    column-gap: 20px;

    @media (max-width: 768px) {
      column-gap: 10px;
    }

    &__icon {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    }

    &__input {
      width: 100%;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f6f7fa;
      border: 2px solid #e6e6e6;
      height: 40px;
      border-radius: 8px;
      padding-left: 40px;
      font-size: 16px;
      color: #6d758f;
    }
  }
}
