.articles {
  background: var(--lightGreen);

  &__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    background: var(--lightGreen);
    justify-content: center;
  }
  
  &__container {
    padding: 80px 0 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__titleWrapper {
      max-width: 1440px;
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 64px;

      @media (max-width: 1250px) {
        padding-left: 32px;
      }

      @media (max-width: 768px) {
        padding-left: 16px;
      }
    }

    &__title {
      font-size: 48px;
      color: var(--white);
      font-weight: 700;
      letter-spacing: -2%;
      line-height: 120%;

      @media (max-width: 1250px) {
        font-size: 40px;
      }
      @media (max-width: 768px) {
        font-size: 32px;
      }
    }
    
    &__subtitle {
      font-size: 24px;
      color: var(--white);
      font-weight: 400;
      margin: 16px 0 48px;
      line-height: 140%;
    }

    &__content{
        width: 100%;
        position: relative;
        overflow: hidden;

        &__track {
          display: flex;
          width: max-content;
          animation: scroll 40s linear infinite;
          column-gap: 24px;
          will-change: transform;

          &__item {
            flex-shrink: 0;
          }
        }
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}