.lastIdeas{
    display: flex;
    flex-direction: column;
    padding: 80px 64px 0px;
    max-width: 1440px;
    margin: 0 auto;

    @media (max-width: 1250px) {
        padding: 80px 16px 0px;
    }

    &__title{
        font-size: 48px;
        color: var(--black);
        font-weight: 700;
        letter-spacing: -2%;
        line-height: 120%;

        @media (max-width: 1250px) {
            font-size: 40px;
        }
        @media (max-width: 768px) {
            font-size: 32px;
        }
    }

    &__subtitle{
        font-size: 24px;
        color: #7A8894;
        font-weight: 400;
        margin: 16px 0 32px;
        line-height: 140%;
    }

    &__ideas{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        margin: 0 auto;
    
        @media (max-width: 1080px) {
            grid-template-columns: repeat(1, 1fr);
            
        }
    }

    &__button{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F6F7FA;
        border: 2px solid #E6E6E6;
        height: 40px;
        border-radius: 8px;
        margin: 32px auto;
        width: 100%;

        @media (max-width: 1250px) {
            max-width: 420px;
            width: 100%;
        }

        &:hover{
            background: #bbc0c4;
        }
    }
}