.header{
    display: flex;
    justify-content: space-between;
    padding: 24px 64px;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        padding: 24px 32px;        
    }

    @media (max-width: 475px) {
        padding: 16px 24px;
    }

    &__actions{
        display: flex;
        column-gap: 24px;
        align-items: center;

        @media (max-width: 1200px) {
            column-gap: 16px;
        }
    }
}