.ideaCard {
  max-width: 420px;
  width: 100%;
  border: 2px solid #00000015;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;

  &__imageWrapper {
    width: 100%;
    height: 240px;
    background: rgb(132, 132, 132);
    border-radius: 14px 14px 0 0;
    overflow: hidden;

    @media (max-width: 1250px) {
      height: 200px;
    }
  }

  &__image {
    width: 100%;
    height: 240px;
    background: rgb(132, 132, 132);
    border-radius: 14px 14px 0 0;
    object-fit: cover;
  }

  &__content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: 1250px) {
      padding: 16px;
    }
  }

  &__title {
    font-size: 24px;
    color: var(--black);
    font-weight: 600;
    line-height: 145%;
    letter-spacing: -2%;
    min-height: 70px;
    text-overflow: ellipsis;
    // white-space: nowrap;

    @media (max-width: 1250px) {
      font-size: 20px;
    }
  }

  &__subtitle {
    font-size: 16px;
    color: #354052;
    font-weight: 400;
    min-height: 100px;
    // max-height: 66px;
    margin-top: 8px;
    letter-spacing: -0.5%;
    line-height: 140%;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* ← ставим 3 строки */
    -webkit-box-orient: vertical;
    overflow: hidden;

    /* чтобы работало во всех случаях */
    text-overflow: ellipsis;
    word-break: break-word;

    @media (max-width: 1250px) {
      font-size: 14px;
      min-height: 40px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    margin: 8px 0 32px;

    @media (max-width: 1250px) {
      margin: 8px 0 24px;
    }

    &__profile {
      display: flex;
      align-items: center;
      column-gap: 4px;

      &__avatar {
        width: 31px;
        height: 31px;
        background: rgb(124, 124, 124);
        border-radius: 50%;
        object-fit: cover;
      }

      &__name {
        font-size: 14px;
        color: #7a8894;
        font-weight: 400;
        line-height: 140%;
      }
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__likes {
      display: flex;
      align-items: center;
      background: none;
      column-gap: 4px;
      background: none;

      &__count {
        font-size: 18px;
        color: #f20505;
      }

      &__icon {
        width: 24px;
        height: 24px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
          transition: all 0.2s ease-in-out;
        }
      }
    }

    &__link {
      font-size: 18px;
      color: #000000;
      line-height: 145%;
      font-weight: 600;
      cursor: pointer;
      background: none;
      transition: all 0.1s ease-in-out;

      &:hover {
        text-decoration: underline;
        transform: scale(1.05);
        transition: all 0.1s ease-in-out;
      }

      &:active {
        transform: scale(0.95);
        color: #146318;
      }
    }
  }

  &__button {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    background: #80bf58;
    color: #ffffff;
    transition: all 0.1s ease-in-out;

    &:hover {
      background: #6da246;
      transform: scale(1.01);
      transition: all 0.1s ease-in-out;
    }

    &:active {
      transform: scale(0.98);
      transition: all 0.1s ease-in-out;
    }
  }
}
